### Gradle ###
/build/
.gradle
!gradle/wrapper/gradle-wrapper.jar

### Maven ###
target/
.mvn/
*.war
*.ear
*.zip
*.tar
*.tar.gz
**/git.properties

### Eclipse / STS ###
bin/
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
rebel.xml
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### Visual Studio Code ###
.vscode

### Log ###
/logs/
*.log

### Temp ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### System ###
Thumbs.db
Servers
.DS_Store
.metadata
.java-version
